@model AmazingRace.Models.PitStops


@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Staff/Views/Shared/LayoutDashboard.cshtml";
}

<head>
    <style>
        .page {
            height: 80%;
            width: 70%;
            margin-left: 50px;
        }

        h1 {
            font-family: 'Roboto Condensed', sans-serif;
            color: #333;
            text-align: center;
            margin-bottom: 100px;
        }

        .row {
            margin: 25px;
            font-size: 20px;
        }

        .heading {
            font-weight: bold;
        }

        .container {
            text-align: center;
        }

        .btn {
            width: 150px;
        }

        .save {
            position: relative;
            background-color: #ffcc00;
            color: #333;
            border-radius: 50px;
        }

            .save:active, .save:focus {
                outline: none;
                border: 0px;
            }

        .cancel {
            background-color: #333;
            color: #ffcc00;
            border-radius: 50px;
        }

            .cancel:active, .cancel:focus, .cancel:hover {
                color: #ffcc00;
                outline: none;
                border: 0px;
            }
    </style>
</head>

<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">

            <h1>Event - Delete</h1>

            <div class="row">
                <div class="col-xs-6 heading"> @Html.DisplayNameFor(model => model.Name)</div>
                <div class="col-xs-6">@Html.DisplayFor(model => model.Name)</div>
            </div>
            <div class="row">
                <div class="col-xs-6 heading"> @Html.DisplayNameFor(model => model.Location)</div>
                <div class="col-xs-6">@Html.DisplayFor(model => model.Location)</div>
            </div>
            
            <div class="form-group row" style="padding-top:25px;">
                <div class="col-xs-2"></div>
                <div class="col-xs-4"><button type="submit" class="btn save"><i class="icon-save"></i> Delete</button></div>
                <div class="col-xs-4"><a href="~/Staff/Events/Index" type="button" class="btn cancel " id="cancel"> Cancel</a></div>
                <div class="col-xs-2"></div>

            </div>

        </div>
    }

</body>
