@model IEnumerable<AmazingRace.Models.Models.Events>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Staff/Views/Shared/LayoutDashboard.cshtml";
}


<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Events</h1>
        <ol class="breadcrumb">
            <li><a href="../index.html">Home</a></li>
            <li class="active">Events</li>
        </ol>

    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">

            <div class="panel-body container-fluid">
                <div class="row">

                    <div class="form-group">
                        <div class="form-group col-sm-9">
                        </div>
                        <div class="form-group col-sm-3">
                            @using (Html.BeginForm("Create", "Events", FormMethod.Get))
                            {
                                <button type="submit" class="btn btn-success btn-outline"><fa class="fa-plus"></fa> Create New</button>
                            }
                        </div>

                    </div>




                </div>


                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EventName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.EventId })|
                                    <a href="#" class="deleteLink" id="@item.EventId"></a>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                                    @*@*<a class="delete" href="~/Areas/Staff/Events/Delete/@item.EventId">Delete</a>*@
                                    @*<a href="#" class="deleteLink" id="@item.EventId">Delete</a>*@
                                </td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>



