@model IEnumerable<AmazingRace.Models.Models.Events>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Staff/Views/Shared/LayoutDashboard.cshtml";
}

<head>
    <style>
        .page > h2 {
            color: #333333;
        }

        table {
            overflow-y:scroll;
        }

        th {
            text-align: center;
            border: 2px solid #ffcc00;
            background-color: #333333;
            color: #ffcc00;
        }

        tbody {
            border: 2px solid #ffcc00;
        }

        tr {
            border: 2px solid #ffcc00;
            color: #333333;

        }

        .createNew {
            position: relative;
            float: right;
            top: -35px;
            font-family: 'Roboto Condensed', sans-serif;
            border:0px;
            outline:none;
            background-color:#ffcc00;
            width:150px;
            padding:10px;
            border-radius:50px;
        }

        .createNew > a {
            text-decoration:none;
            color:#333333;
            font-size:15px;
            font-weight:bold;

        }
    </style>
</head>

<h2>Index</h2>

<button class="createNew">
    @Html.ActionLink("Create New", "Create","Events")
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
       
    </tr>
    @if(Model!=null)
    {
   foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
        </td>
    </tr>
}
    }

</table>
